:root {
  --border: 2px solid black;
  --border-radius: 8px;
  --box-shadow: 0 2px 2px rgba(25, 25, 25, 0.25);
  --box-shadow_inset: 0 2px 2px rgba(25, 25, 25, 0.25) inset;
  --color-light: rgb(200, 200, 200);
  --color-light_accent: rgb(232, 232, 232);
  --color-medium: rgb(100, 100, 100);
  --color-medium_accent: rgb(132, 132, 132);
  --color-dark: rgb(32, 32, 32);
  --color-dark_accent: rgb(52, 52, 52);
  --font-family: 'Roboto', sans-serif;
  --fw-sm: 300;
  --fw-md: 400;
  --fw-lg: 700;
  --size-xsm: .52em;
  --size-sm: .75em;
  --size-md: 1em;
  --size-lg: 1.32em;
  --size-xlg: 1.52em;
  --transition-duration-sm: 200ms;
  --transition-duration: 300ms;
  --transparency-main: #20202033;
  --transparency-controls: #202020bb;
}

/* #region DEFAULT STYLES */
html {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  font-size: calc(15px + 0.390625vw);
  line-height: 1.5;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  font-family: var(--font-family);
  color: var(--color-light);
  background-color: var(--color-dark);
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app__header {
  background: var(--color-dark);
}

.app__header h1 {
  font-size: 1.32rem;
  margin-inline: var(--size-md);
}

.main-content__wrapper {
  margin-block-start: 1rem;

}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  column-gap: var(--size-md);
  height: 100%;
  background: var(--transparency-main);
  overflow: hidden;
}

@media screen and (min-width: 64rem) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-header {
  font-size: var(--size-sm);
  color: var(--color-medium);
  text-transform: uppercase;
}

/* #endregion DEFAULT STYLES */
/* #region MUSIC PLAYER ==================================================== */
/* #region loader */
.loader {
  --loader-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: var(--loader-size);
  height: var(--loader-size);
  margin-block-start: calc(var(--loader-size)/ -2);
  margin-inline-start: calc(var(--loader-size)/ -2);
}

.loader:after {
  content: " ";
  display: block;
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--color-medium) transparent var(--color-medium) transparent;
  animation: loaderspin 1.2s linear infinite;
}

@keyframes loaderspin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* #endregion loader */
.player {
  align-self: start;
  border-radius: var(--border-radius);
  padding: var(--size-md);
}

.player__info {
  position: relative;
  /* min-height: 5em; */
  overflow: hidden;
}

.song-info__wrapper {
  display: flex;
  gap: var(--size-md);
}

.song-info__wrapper-reflection {
  display: none;
}

@media screen and (min-width: 360px) {
  .song-info__wrapper-reflection {
    display: flex;
    gap: var(--size-md);
    height: var(--size-lg);
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, transparent), color-stop(75%, black));
    -webkit-mask-image: -webkit-linear-gradient(bottom, transparent 25%, black 75%);
    mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, transparent), color-stop(75%, black));
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
    opacity: .5;
    transform-origin: 100% 0;
    transform: skewX(65deg);
  }
}

.album-cover,
.album-cover__reflection {
  width: 32%;
}

.cover__image,
.cover__image-reflection {
  display: block;
  width: 100%;
}

.cover__image-reflection {
  transform: rotateX(180deg);
}

.song-info {
  align-self: start;
  padding: var(--size-xsm);
}

.song-info__title {
  color: var(--color-light_accent);
  font-weight: var(--fw-lg);
}

.song-info__album {
  font-weight: var(--fw-sm);
  font-style: italic;
  color: var(--color-light);
}

.controls__top {
  display: flex;
  align-items: center;
  font-size: var(--size-sm);
  line-height: 1;
}

.time__now {
  padding-inline-end: var(--size-sm);
}

.time__remaining {
  padding-inline-start: var(--size-sm);
}

.progress {
  position: relative;
  display: flex;
  flex: 10;
  flex-basis: 100%;
  height: var(--size-xsm);
  background: var(--color-light);
  cursor: pointer;
  transition: height 0.25s;
}

.progress__filled {
  flex: 0;
  flex-basis: 0%;
  width: 50%;
  background: var(--color-dark_accent);
}

.controls__bottom {
  display: flex;
}

/* TODO: add previous track functionality  */
.previous {
  display: none;
  width: .25em;
  height: .25em;
  border-color: transparent transparent transparent var(--color-light);
  border-style: solid;
  border-width: .5em 0 .5em 1em;
  transform: rotate(180deg);
}

.previous::before {
  display: none;
  position: relative;
  top: -.66em;
  content: "";
  border-color: transparent transparent transparent var(--color-light);
  border-style: solid;
  border-width: .1em;
}

/*  TODO: add next track functionality */
.next {
  display: none;
  width: .25em;
  height: .25em;
  border-color: transparent transparent transparent var(--color-light);
  border-style: solid;
  border-width: .5em 0 .5em 1em;
}

.next::after {
  position: relative;
  display: none;
  top: -.66em;
  content: "";
  border-color: transparent transparent transparent var(--color-light);
  border-style: solid;
  border-width: .1em;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.52em;
  height: 2.52em;
  cursor: pointer;
  background: transparent;
}

.play-pause {
  width: 1em;
  height: 1em;
  border-color: transparent transparent transparent var(--color-light);
  border-style: solid;
  border-width: .5em 0 .5em 1em;
  transition: var(--transition-duration-sm) all ease;
}

.pause {
  height: 1em;
  border-style: double;
  border-width: 0 0 0 var(--size-sm);
}

/* #region speaker */
.cover {
  display: flex;
  width: 2.5em;
  height: 2.5em;
}

.icon {
  position: relative;
  margin: auto;
}

.speaker {
  width: 0;
  height: 0;
  background: none;
  border-top: calc(3em/5) solid transparent;
  border-bottom: calc(3em/5) solid transparent;
  border-right: calc(4em/5) solid var(--color-light);
}

.speaker::before {
  position: absolute;
  top: calc(-1.3em/5);
  left: 0;
  width: calc(5.8em/5);
  height: calc(2.5em/5);
  content: "";
  background: var(--color-light);
  border-radius: 3px 1.5em 1.5em 3px;
}

.speaker::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  border-right: 0.5em solid var(--color-light);
  /* animation */
  /* animation:pump 0.1s 0.1s infinite alternate;  */
}

@keyframes pump {
  from {
    top: -1.4em;
    right: -7em;
    width: 2.5em;
    height: 2.5em;
  }

  to {
    top: -1.8em;
    right: -8em;
    width: 3.5em;
    height: 3.5em;
  }
}

/* #endregion speaker */

.volume-wrapper {
  display: flex;
  align-items: center;
}

.volume {
  background: transparent;
}

/* #region volume range input */
input[type=range].volume {
  --track-height: 6px;
  --thumb-size: 16px;
  /* center the thumb: margin-top = (track height in pixels / 2) - (thumb height in pixels /2) */
  --thumb-margin-top: calc((var(--track-height) /2) - (var(--thumb-size) / 2));
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
}

input[type=range].volume:focus {
  outline: none;
}

input[type=range].volume::-webkit-slider-runnable-track {
  height: var(--track-height);
  background: var(--color-medium);
  border-radius: var(--border-radius);
}

input[type=range].volume::-moz-range-track {
  height: var(--track-height);
  background: var(--color-medium);
  border-radius: var(--border-radius);
}

input[type=range].volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  margin-top: var(--thumb-margin-top);
  border-radius: 50%;
  background: var(--color-light);
  border: 1px solid;
}

input[type=range].volume::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--color-light);
  border-radius: 50%;
  border: 1px solid;
}

input[type=range].volume:focus::-webkit-slider-thumb {
  border: 2px solid var(--color-dark);
}

/* #endregion range input */
.mute {
  display: none;
}

.autoplay {
  display: none;
}

.shuffle {
  display: none;
}

/* #endregion PLAYER */
/* #region SELECTOR ================================================== */
.selector {
  display: flex;
  flex-direction: column;
  padding: var(--size-md);
  overflow: hidden;
}

.select-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  list-style: none;
  scrollbar-color: var(--color-medium) var(--color-light);
  scrollbar-width: var(--size-sm);
  overflow-x: hidden;
  overflow-y: auto;
}

.select-list > * + * {
  margin-block-start: var(--size-sm);
}

.select-list::-webkit-scrollbar {
  width: var(--size-sm);
  background-color: var(--color-light);
}

.select-list::-webkit-scrollbar-thumb {
  background-color: var(--color-medium);
  border-radius: var(--border-radius);
}

.select-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-medium_accent);
}

.album__header {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-top-left-radius: var(--border-radius);
  background-color: var(--color-dark_accent);
}

.album__header:hover {
  cursor: pointer;
}

.album__header > * {
  /* removed for js delegation */
  pointer-events: none;
}

.album__header img {
  display: block;
  width: 3.52rem;
  height: 100%;
  margin-inline-end: var(--size-md);
  border-top-left-radius: var(--border-radius);
}

.album__header div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  margin-inline-start: auto;
  margin-inline-end: var(--size-md);
  padding: var(--size-md);
  border: none;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: transform var(--transition-duration);
}

.album__header .opened {
  transform: rotate(90deg);
}

.album__song-list {
  max-height: 0;
  list-style: decimal inside;
  background: var(--transparency-controls);
  border-bottom-left-radius: var(--border-radius);
  transition: max-height var(--transition-duration) ease-in;
  overflow: hidden;
}

/* Allows song-list to expand to full height */
.show-songs {
  max-height: 1000px;
}

.album__song {
  padding-block: var(--size-xsm);
  padding-inline: var(--size-md);
}

.album__song:active {
  color: var(--color-dark);
}

.album__song.selected,
.album__song:hover {
  background: var(--color-medium);
}

.album__song:hover {
  cursor: pointer;
}

/* #endregion SELECTOR */

/* #region UTILITY STYLES */
/* #endregion UTILITY STYLES */